.box-button {
  display: flex;
  flex-direction: row;
  align-self: center;
  justify-content: center;
}

.button-mostrar {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 30px;
  background: red;
  color: black;
  border: none;
}

.button-mostrar:hover {
  background: rgb(230, 101, 101);
}

.button-detalhes {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 30px;
  background: rgb(31, 29, 29);
  color: rgb(255, 0, 0);
  border: none;
}

.button-detalhes:hover {
  background: rgb(73, 55, 55);
}

.comics {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

img {
  width: 206px;
  height: 313px;
  border-bottom-style: solid;
  border-radius: 1px;
  margin: 20px;
}

img:hover {
  width: 215px;
  height: 320px;
}

.name {
  float: left;
  margin: 10px;
}
